In [2]:
import pandas
import configparser
import psycopg2

In [3]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [4]:
conn = psycopg2.connect(
                        host=host,
                        user=user,
                        password=pwd,
                        dbname=db)

In [22]:
sql = "select * from student"

In [23]:
df = pandas.read_sql_query(sql, conn)
df[:10]

/tmp/ipykernel_8403/647199877.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s3@jmu.edu     s3  ISAT
2  s4@jmu.edu     s4  ISAT
3  s2@jmu.edu     s2    IA
4  s5@jmu.edu     s5    IA

In [18]:
cur = conn.cursor()

In [19]:
sql = """insert into student(s_email,s_name,major) values('{}','{}','{}')""".format("s5@jmu.edu","s5","IA")
print(sql)

insert into student(s_email,s_name,major) values('s5@jmu.edu','s5','IA')

In [20]:
cur.execute(sql)

In [15]:
conn.rollback()

In [21]:
conn.commit()